cs_manager_system/bin/
cs_manager_system/build/
cs_manager_system/.classpath
cs_manager_system/.gradle/
cs_manager_system/.project
cs_manager_system/.settings/
cs_manager_system/HELP.md

cs_manager_frontend/node_modules/
