/*
 * #FFBE0B
 * #FB5607
 * #73937E
 * #8338EC
 * #283044
 *
 * #EDE7EF
 */

.navbar {
    background-color: #4A306D;
}

#root {
    background-color: #EDE7EF;
    /* height: 100% */
}

html body {
    background-color: #EDE7EF;
}

html {
    height: 100%;
}

.bubbleCart {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
    /* height: 4rem; */
}
